[bumpr]
file = sendinblue/__about__.py
vcs = git
commit = true
tag = true
tests = tox
publish =
    django-admin compilemessages
    python setup.py sdist bdist_wheel register upload
clean =
    rm -fr build dist
files =
    README.md

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = {version} ({date:%Y-%m-%d})
prepare = Current

[readthedoc]
id = wagtail-sendinblue
