{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n staticfiles sendinblue %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'sendinblue/css/admin.css' %}">
{% endblock %}

{% block titletag %}SendInBlue{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% include 'wagtailadmin/shared/header.html' with title='SendInBlue' icon='fa-envelope' %}

    <section class="nice-padding sendinblue">
        <div class="card full-width">
            <div class="content">
                <h4 class="header">
                    <i class="icon icon-fa-envelope"></i>
                    {% trans 'Welcome' %}
                </h2>
            </div>
            <div class="content">
                <p>{% trans 'You have not yet configured your SendInBlue account' %}</p>
                <p>{% blocktrans with atag=sendinblue_link|safe %}If you haven't done so yet, you must create an account on {{ atag }}.{% endblocktrans %}</p>
                <div class="">
                    <a class="button bicolor icon icon-cogs"
                        href="{% url 'wagtailsettings:edit' 'sendinblue' 'SendinBlueSettings' %}">
                        {% trans 'Go to the SendInBlue settings' %}
                    </a>
                    <a class="button bicolor icon icon-plus"
                        href="{{ sendinblue_url }}" target="_blank">
                        {% trans 'Create a SendInBlue account' %}
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
