{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">

  <title>{{ form.thankyou_title }}</title>
  <meta name="description" content="{{ form.thankyou_title }}">
  <meta name="author" content="Wagtail - SendInBlue">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <h1>{{ form.thankyou_title }}</h1>
    {{ form.thankyou_text|richtext }}
</body>
</html>
